body {
    font-family: "Helvetica";
}

#body {
    display: flex;
    height: 100%;
}

#menu {
    color: blue;
    width: 200px;
}

.overflow_wrapper {
    overflow: auto;
}

#roster_title {
    position: sticky;
    top: 0;
    background-color: white;
}

#roster {
    flex-grow: 12;
}

#roster_table {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    display: inline-flex;
}

.week {
    overflow: auto;
    list-style-type: none;
    display: inline-block;
    padding: 2px;
    margin: 2px;
    min-width: 100px;
}

.service_component {
    border-radius: 5px;
    background-color: grey;
    padding: 2px;
    margin: 2px;
}

.speaker {
    background-color: yellow;
}

.chairperson {
    background-color: orange;
}