body {
    font-family: "Helvetica";
    background-color: #ffde03;
}

#body {
    display: flex;
    height: 100%;
}

#nav-heading, .subheading {
    font-size: smaller;
}

#menu {
    width: 200px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#menu > #selected {
    background-color: orange;
}

.menu-item {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.overflow_wrapper {
    overflow: auto;
}

#roster_title {
    position: sticky;
    top: 0;
}

#roster {
    flex-grow: 12;
}

#roster_table {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    display: inline-flex;
}

.icon {
    padding: 2px;
}

.week {
    overflow: auto;
    list-style-type: none;
    display: inline-block;
    padding: 2px;
    margin: 2px;
    min-width: 100px;
}

.service {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.service_component {
    border-radius: 5px;
    background-color: orange;
    padding: 2px;
    margin: 2px;
}

.service_name {
    font-size: smaller;
}

.speaker {
    background-color: yellow;
}

.chairperson {
    background-color: orange;
}

.welcoming {
    background-color: orange;
}

.people_component {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.error_component {
    background-color: #B00020
}

.highlighted {
    background-color: green;
    color: white;
}