.selectedRow {
  background-color: green;
}

.adminBar {
  display: flex;
  justify-content: flex-end;
}

.infoTime {
  flex: 2;
}

.adminButton {
  padding-right: 10px;
  color: white;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

thead {
  font-size: 12px;
}

tr:last-child > th {
  position: sticky;
  top: 0;
  background: #282c34;
}

.bulkSignInButton {
  position: sticky;
  bottom: 0;
  background: #282c34;
}

tr:last-child > th.infoColumn {
  background-color: gray;
}

.otherNameColumn {
  width: 150px;
}

.counter {
  font-size: 2em;
}

.infoTime {
  font-size: 0.5em;
}

.quickStats {
  display: flex;
  justify-content: center;
}

.signInCounter {
  flex: 1;
}

.totalCounter {
  flex: 1;
}