.selectedRow {
  background-color: red;
}

.adminBar {
  display: flex;
}

.infoTime {
  flex: 2;
}

.adminButton {
  padding-right: 10px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 80%;
}

thead {
  font-size: 12px;
}

tr:last-child > th {
  position: sticky;
  top: 0;
  background: #282c34;
}

.bulkSignInButton {
  position: sticky;
  bottom: 0;
  background: #282c34;
}

tr:last-child > th.infoColumn {
  background-color: gray;
}