.selectedRow {
  background-color: red;
}

.refreshPeopleButton {
  position: fixed;
  right: 5%;
  top: 0;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 80%;
}

thead {
  font-size: 12px;
}

tr:last-child > th {
  position: sticky;
  top: 0;
  background: #282c34;
}

.bulkSignInButton {
  position: sticky;
  bottom: 0;
  background: #282c34;
}