.idBlock {
  display: flex;
}

.qrReportPopup {
  background-color: white;
}

.qrReportHeading {
  background-color: white;
}

@media print {
  .qrReportHeading {
    display: none;
  }

  .qrReportPopup {
    height: auto;
    width: 100%;
  }

  .overlay {
    position: relative;
  }

  .table, .stats, .adminBar {
    display: none;
  }
}

.nameSection {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.givenName {
  margin-right: 10px;
}

.givenName, .familyName {
  font-size: 2em;
}

.otherNames > span {
  margin-right: 10px;
}